.idea*
src/de/tum/ziller/thesis/thrp/image_output
files/instances/*.thrp
files/solutions/*.thrp
/*.iml
target/
src/de/tum/ziller/thesis/thrp/log/*.xml
/de/markusziller/alns/log/comp-experiment.xml
output/solutions/*
!output/solutions/.gitkeep
output/instances/*
!output/instances/.gitkeep
